.filtersContainer {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding: 8px 0;
  scrollbar-width: thin;
}

.filterButton {
  white-space: nowrap;
  flex-shrink: 0;
  max-width: 240px;
  font-size: 13px;
  height: 32px;
  padding: 0 12px;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-6));
  &:hover {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-6));
  }

  :global(.mantine-Button-label) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.searchMode {
  flex: 0 0 auto;
  align-self: center;
}
